*{
    margin: 0;
    padding: 0;
}

body{
    background: #222;
    color: aliceblue;
    font-family: system-ui;
}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: aliceblue;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}

.price input{
    width: 20%;
}
#total{
    background: #721d1d;
    padding: 4px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}

button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #721d1d;
    color: antiquewhite;
    border-radius: 10px;
    transition: 0.5s;
}
button:hover{
    background: #dd6565;
    letter-spacing: 2px;
}

.btnsearch{
    display: flex;
    justify-content: space-between;
}

.btnsearch button{
    width: 45%;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}

#deletAll{
    margin: 20px 0 ;
}